# Copyright 2025 "Google LLC"
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: 'multi-approvers'

on:
  pull_request_review:
    types:
    - 'submitted'
    - 'dismissed'

permissions:
  actions: 'write'
  contents: 'read'
  pull-requests: 'read'

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  multi-approvers:
    if: github.event_name == 'pull_request_review' && (github.event.review.state == 'approved' ||  github.event.action == 'dismissed')
    runs-on: 'ubuntu-latest'
    steps:
    - name: 'Authenticate to Google Cloud'
      id: 'minty-auth'
      uses: 'google-github-actions/auth@6fc4af4b145ae7821d527454aa9bd537d1f2dc5f' # ratchet:google-github-actions/auth@v2
      with:
        create_credentials_file: false
        export_environment_variables: false
        workload_identity_provider: '${{ vars.TOKEN_MINTER_WIF_PROVIDER }}'
        service_account: '${{ vars.TOKEN_MINTER_WIF_SERVICE_ACCOUNT }}'
        token_format: 'id_token'
        id_token_audience: '${{ vars.TOKEN_MINTER_SERVICE_AUDIENCE }}'
        id_token_include_email: true

    - name: 'Mint Token'
      id: 'minty'
      uses: 'abcxyz/github-token-minter/.github/actions/minty@main' # ratchet:exclude
      with:
        id_token: '${{ steps.minty-auth.outputs.id_token }}'
        service_url: '${{ vars.TOKEN_MINTER_SERVICE_URL }}'
        requested_permissions: |-
          {
            "scope": "multi-approvers-action",
            "repositories": ["cluster-toolkit"],
            "permissions": {
              "actions": "write",
              "members": "read",
              "pull_requests": "read"
            }
          }

    - name: 'Multi-approvers'
      uses: 'abcxyz/actions/.github/actions/multi-approvers'
      with:
        team: 'hpc-toolkit'
        token: '${{ steps.minty.outputs.token }}'
